@use 'variables' as *;
@use 'mixins' as *;

.intro-screen {
    @include fill-container;
    @include flex-column(center, center, $padding-double);
    @include position-absolute;
    z-index: 3;

    background-image: url("../assets/background/background-resized.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: opacity 2s ease-in-out;

    .intro-text {
        padding: $padding;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: $border-radius;
    }

    .intro-buttons {
        @include flex-column(center, stretch, $padding);
        @include select-btn-styles;
    }
}