@use 'variables' as *;
@use 'mixins' as *;

main {
    margin-top: calc($padding * 5);

    .game-container {
        @include horizontal-margin-center;
        position: relative;
        height: $game-board-height;
        width: $game-board-width;
    }
}