@use 'variables' as *;

@mixin fill-container {
    width: 100%;
    height: 100%;
}

@mixin horizontal-margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin position-absolute($top: null, $bottom: null, $left: null, $right: null) {
    position: absolute;
    
    @if $top != null {
        top: $top;
    }

    @if $bottom != null {
        bottom: $bottom;
    }
    
    @if $left != null {
        left: $left;
    }
    
    @if $right != null {
        right: $right;
    }
}

@mixin position-relative($top: null, $bottom: null, $left: null, $right: null) {
    position: relative;
    
    @if $top != null {
        top: $top;
    }

    @if $bottom != null {
        bottom: $bottom;
    }
    
    @if $left != null {
        left: $left;
    }
    
    @if $right != null {
        right: $right;
    }
}

@mixin flex-row($justfy-content, $align-items, $gap: 0) {
    display: flex;
    justify-content: $justfy-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin flex-column($justfy-content, $align-items, $gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: $justfy-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin flex-row-wrap($justfy-content, $align-items, $gap: 0) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justfy-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin intro-modal-size {
    width: 625px;
    height: 500px;
}

@mixin level-win-modal-size {
    width: 500px;
    height: 300px;
}

@mixin modal-btn-styles {
    .return-menu-btn,
    .next-level-btn {
        flex: 1;
        font-size: 20px;
    }
}