@use 'variables' as *;

h1, h2, h3, h4, h5, h6 {
    color: $accent-colour;
    margin: 0;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

body {
    font-family: $font-family;
    line-height: $line-height;
}

ul {
    list-style: none;
}