<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /dont-shoot-my-planet/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /dont-shoot-my-planet/index.html [L]
</IfModule>