*, *::before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-colour:  #FEDD00;
    --background-colour: #282A35;
    --text-colour: #FFFFFF;
    --font-family: 'Sometype Mono', monospace;
    --laser-glow-shadow: 0px 0px 10px 2px rgba(255, 255, 0, 0.5),
                         0px 0px 20px 4px rgba(255, 255, 0, 0.5),
                         0px 0px 40px 6px rgba(255, 255, 0, 0.5);
}

body {
    background-color: var(--background-colour);
    font-family: var(--font-family);
    padding: 32px;
}

main {
    margin-top: 40px;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--accent-colour);
    margin: 0;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

a {
    color: var(--text-colour);
	text-decoration: none;
    font-family: var(--font-family);
}

a:visited {
    color: var(--text-colour);
}

a:hover {
    color: var(--accent-colour);
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    max-width: 640px;
}

th, 
td {
    border: 1px solid var(--text-colour);
    padding: 16px;
    color: var(--text-colour);
}

th {
    font-size: 20px;
    font-weight: 1000;
    color: var(--accent-colour);
}

.game-container {
    margin: 0 auto;
    position: relative;
    height: 600px;
    width: 1000px;
}

.intro-screen,
.game-board {
    height: 100%;
    width: 100%;
}

.intro-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    z-index: 3;

    background-image: url(../assets/background/background-resized.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: opacity 2s ease-in-out;
}

.intro-text {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.intro-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.select-btn {
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
    font-size: 24px;

    transition: transform 0.1s ease;
}

.select-btn:hover {
    background-color: var(--accent-colour);
    transform: scale(1.05);
}


.modal-backdrop {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.intro-modal-backdrop {
    z-index: 3;
}

.level-win-modal-backdrop {
    z-index: 2;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    background-color: #4D4F5A;
    z-index: 4;
    padding: 20px 40px;

    box-shadow: var(--laser-glow-shadow);
}

.modal p {
    color: var(--text-colour);
}

.instructions-modal,
.credits-modal {
    display: none;
    width: 625px;
    height: 500px;
}

.modal-close-button {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-close-button span {
    font-size: 35px;
    color: var(--text-colour);
    transition: transform 0.2s ease-in-out;
}

.modal-close-button span:hover {
    color: var(--accent-colour);
    transform: scale(1.2);
}

.modal h2 {
    text-align: center;
    margin-bottom: 16px;
}

.instructions-modal {
    grid-template: auto 1fr 1fr 1fr / 1fr 1fr 1.25fr;
    justify-items: center;
    align-items: center;
    gap: 12px;
}

.instructions-modal h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.instructions-modal .game-instructions {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.instructions-modal .game-instructions ul {
    margin-bottom: 50px;
}

.instructions-modal .game-instructions li:not(:last-child) {
    margin-bottom: 12px;
}

.instructions-modal .move-left-icon {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.instructions-modal .move-left-instructions {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.instructions-modal .move-icon img {
    width: auto;
    height: 100px;
}

.instructions-modal .move-left-icon img {
    transform: scaleX(-1);
}

.instructions-modal .move-right-icon {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.instructions-modal .move-right-instructions {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.instructions-modal .move-left-instructions img,
.instructions-modal .move-right-instructions img {
    width: auto;
    height: 50px;
}

.instructions-modal .shoot-icon {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.instructions-modal .shoot-instructions {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.instructions-modal .shoot-instructions img {
    width: auto;
    height: 50px;
}

.instructions-modal .laser-icon {
    position: relative;
    height: 80px;
    width: 8px;
}

.credits-modal {
    flex-direction: column;
    align-items: center;
}

.credits-modal .credits-text {
    font-size: 18px;
    margin-bottom: 16px;
}

.credits-modal .table-container {
    margin: 0 auto;
}

.level-win-modal {
    opacity: 0;
    display: none;
    position: absolute;
    width: 600px;
    transition: opacity 1s ease-in-out;
    z-index: 3;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 500px;
    margin: 0 auto;
}

.return-menu-btn,
.next-level-btn {
    flex: 1;
    font-size: 20px;
}

.game-lose-modal {
    opacity: 0;
    display: none;
    width: 600px;
    padding-bottom: 32px;
    transition: opacity 1s ease-in-out;
    z-index: 3;
    text-align: center;
}

.game-lose-modal h2 {
    margin: 0;
}

.game-lose-modal .game-lose-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 48px 0;
    font-size: 19px;
}

.game-board {
    opacity: 0;
    visibility: hidden;
    background-image: url(../assets/background/background-resized.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    transition: opacity 2s ease-in-out;
}

.countdown-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    overflow: hidden;
    z-index: 1;
}

.countdown-container .countdown-number {
    position: absolute;
    font-size: 50px;
    color: var(--accent-colour);

    transform: translateX(150px) scale(0);
    transition: transform 0.75s ease-in-out;
}

.countdown-container .countdown-number.activate {
    transform: translateX(0) scale(5);
}

.countdown-container .countdown-number.deactivate {
    transform: translateX(-150px) scale(0);
}

.character-container {
    position: absolute;
    z-index: 1;
}

.character-icon {
    display: block;
    width: 60px;
}

.flip-character {
    transform: scaleX(-1);
}

.planet-container {
    position: absolute;
    left: 40px;
}

.planet-icon {
    width: 50px;
}

.laser,
.laser-icon {
    position: absolute;
    background-color: rgb(255, 255, 0);
    box-shadow: var(--laser-glow-shadow);
    border: 3px solid red;
    border-radius: 10px;
}


.score-board {
    opacity: 0;
    visibility: hidden;
    margin: 0 auto;
    width: 1000px;
    height: 130px;
    padding: 16px 32px;
    background: #333333;

    transition: opacity 2s ease-in-out;
}

.score-board .timer {
    width: 100%;
    height: 25px;
    background-color: #1E1E2B;
}

.score-board .game-stats {
    position: relative;
    width: 100%;
    height: 100%;
}

.game-stats .level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.game-stats .level-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-stats .level-container .level {
    color: var(--text-colour);
    font-size: 18px;
}

.game-stats .score-container {
    display: flex;
    align-items: center;
    gap: 32px;
    position: absolute;
    color: white;
    font-size: 24px;
    top: 10px;
    right: 0;
}

.game-stats .score-container h3 {
    font-size: 24px;
}

.game-stats .score-container .score {
    font-size: 20px;
}

.game-stats .lives-container {
    display: flex;
    position: absolute;
    top: 10px;
    left: -5px;
}

.game-stats .lives-container .heart-icon{
    width: 40px;
    height: 40px;
}


.fade-out {
    visibility: hidden;
    opacity: 0;
}

.fade-in {
    visibility: visible;
    opacity: 1;
}

.hide {
    visibility: hidden;
    opacity: 0;
}
