*, *::before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-colour:  #FEDD00;
    --background-colour: #282A35;
    --font-family: 'Sometype Mono', monospace;
}

body {
    background-color: var(--background-colour);
    font-family: var(--font-family);
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-colour);
}


header {
    text-align: center;
    background-color: var(--background-colour);
}

header h1 {
    margin: 0 0 2rem;
}

main {
    margin-top: 40px;
}

.game-container {
    margin: 0 auto;
    position: relative;
    height: 600px;
    width: 1000px;
}

.intro-screen,
.game-board {
    height: 100%;
    width: 100%;
}

.intro-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    z-index: 2;

    background-image: url(../assets/background/background-resized.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: opacity 1s ease-in-out;
}

.intro-text {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.intro-screen h2 {
    font-size: 36px;
}

.intro-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro-screen .intro-btn {
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);

    transition: transform 0.1s ease;
}

.intro-screen .intro-btn:active {
    transform: translateY(2px);
}

.intro-screen .intro-btn:hover {
    background-color: var(--accent-colour);
    transform: scale(1.05);
}

.intro-screen .intro-btn span {
    font-size: 24px;
}

.modal-backdrop {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    background-color: #4D4F5A;
    z-index: 3;

    width: 625px;
    height: 540px;
    padding: 20px 40px;

    box-shadow: 0px 0px 10px 2px rgba(255, 255, 0, 0.5),
                0px 0px 20px 4px rgba(255, 255, 0, 0.5),
                0px 0px 40px 6px rgba(255, 255, 0, 0.5);
}

.modal h3 {
    text-align: center;
    font-size: 32px;
}

.instructions-modal {
    grid-template: 40px 1fr repeat(3, 100px) / 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 12px;
}

.modal-close-button {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-close-button span {
    font-size: 35px;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.modal-close-button span:hover {
    color: var(--accent-colour);
    transform: scale(1.2);
}

.instructions-modal h3 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.instructions-modal p {
    color: white;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.instructions-modal .game-instructions {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.instructions-modal .game-instructions ul {
    list-style: none;
}

.instructions-modal .game-instructions li:not(:last-child) {
    margin-bottom: 12px;
}

.instructions-modal .move-left-instructions {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.instructions-modal .move-left-icon {
    grid-column: 2 / 3;
    grid-row: 3 / 4
}

.instructions-modal .move-icon img {
    width: auto;
    height: 100px;
}

.instructions-modal .move-left-icon img {
    transform: scaleX(-1);
}

.instructions-modal .move-right-instructions {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.instructions-modal .move-left-instructions img,
.instructions-modal .move-right-instructions img {
    width: auto;
    height: 50px;
}

.instructions-modal .shoot-instructions {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.instructions-modal .shoot-instructions img {
    width: auto;
    height: 50px;
}

.instructions-modal .laser-icon {
    position: relative;
    height: 60px;
    width: 8px;
}

.game-board {
    opacity: 0;
    background-image: url(../assets/background/background-resized.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.hide {
    display: none;
}

.character-container {
    position: absolute;
    z-index: 2;
}

.character-icon {
    display: block;
    width: 60px;
}

.flip-character {
    transform: scaleX(-1);
}

.planet-container {
    position: absolute;
    left: 40px;
}

.planet-icon {
    width: 50px;
}

.laser,
.laser-icon {
    position: absolute;
    background-color: rgb(255, 255, 0);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 0, 0.5),
                0px 0px 20px 4px rgba(255, 255, 0, 0.5),
                0px 0px 40px 6px rgba(255, 255, 0, 0.5);
    border: 3px solid red;
    border-radius: 10px;
}